# Loading and Manipulating Data

In [1]:
import sys
sys.path.append("..")

In [2]:
# first we load the dataframe
import pandas as pd

df = pd.read_csv('example.csv')

for col in ['Halo', 'Snapshot', 'Resolution', 'ID', 'Status']:
    df[col] = df[col].astype('category')

df

,Halo,Snapshot,RadialBin,Resolution,Density,ID,Status,Radius,Mass
0,850045,0,0,1,0.248233,1021286,1,0.399642,0.076698
1,850045,0,1,1,0.458954,1021286,1,0.399642,0.076698
2,850045,0,2,1,0.040462,1021286,1,0.399642,0.076698
3,850045,0,3,1,0.483019,1021286,1,0.399642,0.076698
4,850045,0,4,1,0.443710,1021286,1,0.399642,0.076698
...,...,...,...,...,...,...,...,...,...
2279995,740109,2,75,2,0.096223,1919259,0,0.219847,0.027083
2279996,740109,2,76,2,0.659574,1919259,0,0.219847,0.027083
2279997,740109,2,77,2,0.303761,1919259,0,0.219847,0.027083
2279998,740109,2,78,2,0.107028,1919259,0,0.219847,0.027083
2279999,740109,2,79,2,0.376159,1919259,0,0.219847,0.027083

In [3]:
# now lets apply some filters and then create a datagrid

fdf = df[(df["Mass"] > 0.97) & (df["Radius"] > 0.96)]
from gridfig.data.data_grid import DataGrid

# the data we want to save for each object in the datagrid
plot_data = ["RadialBin", "Density", "ID", "Snapshot", "Status", "Resolution"]
dg = DataGrid.dataFrameToGrid(fdf, "Halo", "Snapshot", "Resolution", plot_data)

True True
creating 3 x 2 data grid - Panel: Halo, Row: Snapshot, Col: Resolution...

In [6]:
print(dg)

DataGrid with dimensions: 3 x 2
Panel Property: Halo, Row Property: Snapshot, Column Property: Resolution

Panel at (0, 0): Panel with row_val=1, col_val=1, containing 7 Dataset(s).
	Includes: 286060, 140785, 145347, 69595, 133041, 711695, 30589
Panel at (0, 1): Panel with row_val=1, col_val=2, containing 5 Dataset(s).
	Includes: 744711, 910354, 813579, 65075, 922126
Panel at (1, 0): Panel with row_val=2, col_val=1, containing 7 Dataset(s).
	Includes: 449581, 487678, 9288, 200404, 349167, 713576, 456416
Panel at (1, 1): Panel with row_val=2, col_val=2, containing 5 Dataset(s).
	Includes: 284710, 311392, 392290, 888024, 901278
Panel at (2, 0): Panel with row_val=0, col_val=1, containing 4 Dataset(s).
	Includes: 311599, 668527, 2649, 579558
Panel at (2, 1): Panel with row_val=0, col_val=2, containing 1 Dataset(s).
	Includes: 397163

In [7]:
dg.getShape()

(3, 2)

In [8]:

dg.rowOrder([2,0,1])
print(dg)

DataGrid with dimensions: 3 x 2
Panel Property: Halo, Row Property: Snapshot, Column Property: Resolution

Panel at (0, 0): Panel with row_val=0, col_val=1, containing 4 Dataset(s).
	Includes: 311599, 668527, 2649, 579558
Panel at (0, 1): Panel with row_val=0, col_val=2, containing 1 Dataset(s).
	Includes: 397163
Panel at (1, 0): Panel with row_val=1, col_val=1, containing 7 Dataset(s).
	Includes: 286060, 140785, 145347, 69595, 133041, 711695, 30589
Panel at (1, 1): Panel with row_val=1, col_val=2, containing 5 Dataset(s).
	Includes: 744711, 910354, 813579, 65075, 922126
Panel at (2, 0): Panel with row_val=2, col_val=1, containing 7 Dataset(s).
	Includes: 449581, 487678, 9288, 200404, 349167, 713576, 456416
Panel at (2, 1): Panel with row_val=2, col_val=2, containing 5 Dataset(s).
	Includes: 284710, 311392, 392290, 888024, 901278

In [9]:
dg.colOrder([1, 0])
print(dg)

DataGrid with dimensions: 3 x 2
Panel Property: Halo, Row Property: Snapshot, Column Property: Resolution

Panel at (0, 0): Panel with row_val=0, col_val=2, containing 1 Dataset(s).
	Includes: 397163
Panel at (0, 1): Panel with row_val=0, col_val=1, containing 4 Dataset(s).
	Includes: 311599, 668527, 2649, 579558
Panel at (1, 0): Panel with row_val=1, col_val=2, containing 5 Dataset(s).
	Includes: 744711, 910354, 813579, 65075, 922126
Panel at (1, 1): Panel with row_val=1, col_val=1, containing 7 Dataset(s).
	Includes: 286060, 140785, 145347, 69595, 133041, 711695, 30589
Panel at (2, 0): Panel with row_val=2, col_val=2, containing 5 Dataset(s).
	Includes: 284710, 311392, 392290, 888024, 901278
Panel at (2, 1): Panel with row_val=2, col_val=1, containing 7 Dataset(s).
	Includes: 449581, 487678, 9288, 200404, 349167, 713576, 456416

NameError: name 'output' is not defined